{
    "debug": true,
    "PORT": 5008,
    "DATABASE": "",
    "secret": "+2n37dnt5mbnsko",
    "JWT_SECRET": "",
    "CHAINID": 1,
    "IPFS_BASEURL": "",
    "IPFS_HOST": "",
    "IPFS_PORT": 443,
    "IPFS_OPT": "https",
    "Mail_Service": "",
    "Mail_Port": 587,
    "Mail_User": "",
    "Mail_Password": "",
    "Mail_From": "",
    "STRIPEPRIVATEKEY": "",
    "STRIPEPUBKEY": "",
    "twilioAccountSid": "",
    "twilioAuthToken": "",
    "twilioFromNumber": "",
    "DefaultAdmin": "",
    "DefaultAdminPassword": "",
    "NFT_WALLET": "",
    "NFT_PRIVATEKEY": "",
    "TREASURY_WALLET": "",
    "TREASURY_PRIVATEKEY": "",
    "EXCHANGE_WALLET": "",
    "EXCHANGE_PRIVATEKEY": "",
    "ADMINTREASURY": "",
    "nftTradeFee": 1,
    "exchangeFee": 3,
    "admin_wallet": "",
     "AlchemyApiKey": ""
}